@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Indie+Flower&display=swap');




.fondos {
  background-image: url(/imagenes/fondoss.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.font {
  font-family: 'Cinzel', serif;
  text-align: center;
  margin: auto;
  color: white;
}

.ap_comida {
  border-radius: 15px;
  background-color: rgba(0, 100, 0, 0.457);
  -webkit-box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  text-align: center;
  backdrop-filter: blur(15px);
}

.informacion_comida {
  font-family: 'Indie Flower', cursive;
  border-radius: 15px;
  color: #00a309e0;
}

.ap_ejercicio {
  border-radius: 15px;
  background-color: rgba(87, 87, 87, 0.42);
  -webkit-box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  text-align: center;
  backdrop-filter: blur(15px);
}

.informacion_ejercicios {
  font-family: 'Indie Flower', cursiva;
  border-radius: 15px;
  color: #080808e0;
}

#consulta {
  resize: none;
}

.footers {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: auto;
  text-align: center;
}

.fondo_final {
  background-color: rgba(0, 100, 0, 0.55);
  color: white;
  margin-top: 10%;
  position: absolute;
  width: 100%;
}

.color_form {
  color: white;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.15);
}

.color_cont {
  background-color: rgba(26, 151, 26, 0.322);
  border-radius: 30px;
  padding: 10px;
  border: 10px solid green;
  backdrop-filter: blur(15px);
}

#fondo_gym {
  background-image: url(/imagenes/fondogym.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cont_gym {
  background-color: rgba(100, 100, 100, 0.322);
  border-radius: 30px;
  padding: 10px;
  border: 10px solid rgb(254, 254, 254);
  backdrop-filter: blur(5px);
  color: white;
}

.ap_IMC {
  border-radius: 15px;
  background-color: rgba(19, 8, 223, 0.42);
  -webkit-box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  text-align: center;
  backdrop-filter: blur(15px);
}

.fondoIMC {
  background-image: url(/imagenes/fondoimc.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 #imgimc{
  width: 500px;
  height: 250px;
 }
 .calcimc{
  border-radius: 15px;
  background-color: rgba(19, 8, 223, 0.32);
  -webkit-box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 0.548);
  -moz-box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  box-shadow: -1px 3px 64px 0px rgba(255, 255, 255, 1);
  text-align: center;
  backdrop-filter: blur(15px);
 margin-left: 100px;
 margin-right: 100px;
 }
